body{
	overflow-x: hidden;
	overflow: hidden;
}
header {
	height: 68px;
	line-height: 86px;
	text-align: center;
	background-color: #01906d;
	/*box-shadow: 0px 5px 17px 0px #D3B176;*/
}

header img {
	width: 234px;
	height: 26px;
	margin-left: 0 !important;
}
.middle ul {
	width: 100%;
	height: 50px;
	line-height: 50px;
	margin: 0 auto;
	box-sizing: border-box;
	border-bottom: 1px dashed #ECECEC;
	text-indent: 20px;
}
.middle li.fl {
	width: 35%;
	color: #94969C;
}
.middle li.fr {
	width: 65%;
	color: #424347;
}

