body{
	overflow-x: hidden;
	overflow: hidden;
}
header {
	height: 80px;
	line-height: 116px;
	text-align: center;
	background-color: #01906d;
	/*box-shadow: 0px 5px 17px 0px  #D3B176;*/
}

header img {
	width: 234px;
	height: 26px;
	margin-left: 0 !important;
}
.entry {
	width: 96%;
	height: 35px;
	line-height: 35px;
	margin: 0px auto;
    box-sizing: border-box;
    border-bottom: 1px dashed #ECECEC;
}
.entry:last-child {
	border-bottom: none;
}
.entry label {
	width: 40%;
	color: #7B7F87;
	font-size: 14px;
	margin-right: 20px;
}
.entry input {
	width: 60%;
}
.middle {

	margin-top: 0px;
}
.type {
    /*margin: 10px auto;*/
	font-size: 0;
}
.checkType {
	font-size: 14px;
	font-weight: bold;
    margin: 5px 0px;
}
#enterprise,#company,#personal {
	width: 32%;
	height: 43px;
	line-height: 36px;
	box-sizing: border-box;
	font-size: 12px;
	/*border: 1px solid #ccc;*/
}
#company {
}
#personal {
	margin-left: 2%;
}
#enterprise {
	margin-left: 2%;
}
.checkStyle {
	background-color: #fff !important;
	color: black;
}
/*选框位置控制*/
.entry:first-child {
	border-top: 1px solid #ECECEC;
	position: relative;
}
#getFptt {
	width: 20px;
	height: 20px;
	background-color: #ccc;
	position: absolute;
	top: 8px;
	right: 1px;
    display: none;
}
