body,html {
	font-family: 微软雅黑;
	width: 100%;
}
header img {
	width: 100%;
	height: 100%;
}
#index {
	position: relative;
}
footer {
	position: fixed;
	bottom: 0; 
	width: 100%; 
	background-color: #F7F7F7;
	border-top: 1px solid #CBCBCB;

}
footer p {
	margin: 10px;
	color: #000;
	box-sizing: border-box;
	line-height: 40px;
}

.company {
	font-size: 16px;
	float: left;
}
.help {
	font-size: 18px;
	float: right;
}