
@font-face {font-family: "iconfont";
  src:url('../fonts/iconfont.ttf?t=1496917502641') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}
.icon-jikediancanicon23:before { content: "\e785"; }

.icon-youxiang:before { content: "\e62d"; }

.icon-fapiao1:before { content: "\e609"; }


