<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rjxx.taxeasy.dao.JylsMapper">

    <select id="findOneByParams" parameterType="map" resultType="jyls">
        select * from t_jyls where yxbz = '1'
        <if test="djh != null and djh != ''">
            and djh = #{djh}
        </if>
        limit 1
    </select>

    <select id="findAllByParams" parameterType="map" resultType="jyls">
        select * from t_jyls where yxbz = '1'
        <if test="orderBy != null">
            order by #{orderBy}
        </if>
    </select>

    <select id="findByPage" parameterType="pagination" resultType="jyls">
        select * from t_jyls where yxbz = '1'
        <if test="params.orderBy != null">
            order by #{params.orderBy}
        </if>
    </select>
	
	 <select id="findByTqm" parameterType="map" resultType="jyls">
        select * from t_jyls where yxbz = '1'
        <if test="tqm != null and tqm != ''">
            and tqm = #{tqm}
        </if>
        limit 1 
    </select>
</mapper>

