<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rjxx.taxeasy.dao.JyspmxMapper">

	<select id="findOneByParams" parameterType="map" resultType="jyspmx">
		select * from t_jyspmx where yxbz = '1'
		<if test="orderBy != null">
			order by #{orderBy}
		</if>
		limit 1
	</select>

	<select id="findAllByParams" parameterType="map" resultType="jyspmx">
		select * from t_jyspmx where 1 = 1 
		<if test="djh != null and djh != ''">
			and djh = #{djh}
		</if>
	</select>

	<select id="findByPage" parameterType="pagination" resultType="jyspmx">
		select * from t_jyspmx where yxbz = '1'
		<if test="params.orderBy != null">
			order by #{params.orderBy}
		</if>
	</select>

	<select id="findByDjh" parameterType="map" resultType="jyspmx">
		select * from t_kpls where yxbz = '1'
		<if test="orderBy != null">
			order by #{orderBy}
		</if>
	</select>
</mapper>

